.movie_page {
  padding-top: 10px;
  padding-left: 40px;
}
  
.btn {
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #444242;
}
  
.btn:hover {
    color: #c75353;
    border: 2px solid #c75353;
}

.about_film {
  display: flex;
  margin-top: 10px;
}

.poster_wrap {
  width: 300px;
  height: 450px;
}

.poster {
  width: 300px;
  height: 450px;
  object-fit: cover;
}
 
.inform {
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}
  
.inform_item:not(:last-child) {
  margin-bottom: 20px;
}

.inform_item_titel {
  margin-bottom: 20px;
}

.information {
  margin-top: 10px;
  padding: 10px 40px;
  border-bottom: 1px solid rgb(82, 79, 79);
  border-top: 1px solid rgb(82, 79, 79);
}

.information_titel {
  margin-bottom: 10px;
}

.information_item:not(:last-child) {
  margin-bottom: 10px;
}