.list {
  display: flex;
  flex-direction: column;
}

.item {
  list-style: none;
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: blueviolet;
}

.link:hover {
  color: rgb(212, 86, 86);
}